<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="{{ asset("img/logo.png") }}">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" ng-show="selected">
                <li ng-class="{ active: server.qualif.show}" ng-click="showServer(server.qualif)">
                    <a href="#">
                        {% trans %}rsv3.server.qualif{% endtrans %}<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li ng-class="{ active: server.preprod.show}"><a href="#" ng-click="showServer(server.preprod)">{% trans %}rsv3.server.preprod{% endtrans %}</a></li>
                <li ng-class="{ prod : server.prod.show}"><a href="#" ng-click="showServer(server.prod)">{% trans %}rsv3.server.prod{% endtrans %}</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

        <div id="logout">
            <ul class="pull-left">
                <li class="dropdown" id="menu-profile">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans %}rsv3.profil.my{% endtrans %}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">
                                <i class="glyphicon glyphicon-user"></i>
                                {{ "rsv3.profil.show" |trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_profile_edit') }}">
                                <i class="glyphicon glyphicon-pencil"></i>
                                {{ "rsv3.profil.edit" |trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_change_password') }}">
                                <i class="glyphicon glyphicon-lock"></i>
                                {{ "rsv3.profil.resetPass" |trans }}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="glyphicon glyphicon-remove-sign"></i>
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>