{{ include('RsvDeployBundle:Default:update.html.twig') }}

<div class="row">

    <div class="col-sm-6">
        <div class="col-sm-12 title">
            {{ "rsv3.deploy.tag" |trans }}
            <span ng-bind="tag.current" class="pull-right branchName"></span>
        </div>
        <div class="col-sm-9">
            <select class="form-control" ng-model="tag.change">
                <option ng-repeat="tag in tag.list" value="[[tag | trim]]">[[tag]]</option>
            </select>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-default"
                    ng-click="changeSource(false)"
                    ng-show="tag.change != tag.current">
                {{ "rsv3.deploy.activate" |trans }}
            </button>
        </div>
    </div>

    <div class="col-sm-6">
        <form id="new-tag-form" action="" class="forms forms-inline">
            <div class="_row">
                <div class="col-sm-12">
                    <label ng-bind="tag.target.name"></label>
                </div>
            </div>
            <div class="_row">
                <div class="col-sm-9">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm btn-default" ng-click="tagTargetType('g')">{{ "rsv3.tag.g" |trans }}</button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="tagTargetType('r')">{{ "rsv3.tag.r" |trans }}</button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="tagTargetType('c')">{{ "rsv3.tag.c" |trans }}</button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="tagTargetType('x')">{{ "rsv3.tag.reset" |trans }}</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default" id="new-tag" ng-click="newTag()" ng-show="tag.newIsOk">{{ "rsv3.deploy.validate" |trans }}</button>
                </div>
            </div>
        </form>
    </div>

</div>


